{block content}
     <div class="container fs">
     	<div class="head">
        	<h1 class="card-title">Uložení nabídky</h1>
        	<div class="clearfix"></div>
        </div>
        {control offerForm}
     </div>
{/block}
