{block buttons}
	        <a class="btn btn-primary" n:href="add"><i class="fas fa-plus"></i> Přidat nabídku</a>
{/block}

{block content}

	      <div class="head">
	        <h1 class="card-title">Nabídky</h1>
	      </div>
	      {control offers}
{/block}
