{block buttons}
	        <a class="btn btn-primary" n:href="add"><i class="fas fa-plus"></i> Přidat video</a>
{/block}

{block content}

	      <div class="head">
	        <h1 class="card-title">Videa</h1>
	      </div>

      	  <div class="sortable" data-action="{link sort!}">
	      	{control slides}
          </div>
{/block}
